<div class="">
  <!--article-content-->
  <article class="">
    <div id="article-header">
      <a ng-if="::model.mdHref" ng-href="{{::model.mdHref}}" class="btn pull-right">Improve this Doc</a>
      <a class="btn pull-right" ng-href={{::ViewSource()}}> View Source</a>
      <h1 ng-if="::model.name.CSharp">{{::model.type}} {{::model.name.CSharp}}</h1>
      <h1 ng-if="::(!model.name.CSharp && model.name.VB)">{{::model.type}} {{::model.name.VB}}</h1>
      <section>
        <div class="markdown">{{::model.summary}}</div>
      </section>
      <section>
        <div class="markdown">{{::model.mdContent}}</div>
      </section>
      <section id="metadata_table" class="inheritance">
        <div class="" ng-if="::model.inheritance">
          <h5>Inheritance</h5>
          <hr>
          <div class="">
            <div ng-repeat="inhe in ::model.inheritance">
              <span ng-repeat="i in ::getNumber($index) track by $index"></span>↳
              <a ng-href="{{::GetLinkHref(inhe.href)}}">{{::inhe.id}}</a>
            </div>
            <div class="">
              <span ng-repeat="i in ::getNumber(model.inheritance.length) track by $index"></span>↳
              <a>{{::model.id}}</a>
            </div>
          </div>
        </div>
      </section>
    </div>

    <section id="article-body">
      <div class="" ng-repeat="itemtype in ::itemtypes">
        <h3 class="" ng-if="::itemtype.show">{{::itemtype.description}}</h3>
        <div class=""  ng-repeat="item in ::model.items" ng-if="::(item.type == itemtype.name)">
          <!--<div class="" ng-mouseleave="showBtn = false" ng-mouseenter ="showBtn = true" ng-init="showBtn=false">-->
          <div class="item-section">
            <div class="item-header">
              <a class="item-toggle" ng-click="item.isCollapsed = !item.isCollapsed">
                <div class="pull-right" ng-show = "item.isCollapsed">Hide</div>
                <div class="pull-right" ng-show = "!item.isCollapsed">Show</div>
                <div class="item-title" ng-if="::item.name.CSharp">
                  {{::item.name.CSharp.replace(',', ', ').replace(',', ', ').replace(',', ', ')}}
                </div>
                <div class="item-title" ng-if="::(!item.name.CSharp && item.name.VB)">
                  {{::item.name.VB.replace(',', ', ').replace(',', ', ').replace(',', ', ')}}
                </div>
                <!--<span class="minus-icon" ng-show = "showDetail"></span>
                <span class="plus-icon" ng-show = "!showDetail"></span>-->
              </a>
            </div>
            <!--<div class="view-source btn" ng-show="showBtn">
              <a ng-href="{{ViewSource(item.source.startLine)}}">View Source</a>
            </div>
            <div class="improve-this-doc btn btn-primary" ng-show="showBtn">
              <div ng-if="model.mdHref" class="improve-this-doc btn btn-primary">
                <a ng-href="{{model.mdHref}}">Improve this Doc</a>
              </div>
            </div>-->
            <div class="item-summary">
              <div class="markdown">{{::item.summary}}</div>
            </div>
            <!--<a class="section-member-detail-before"  ng-init="showDetail=false"  ng-show="showDetail"> - </a>
            <a class="section-member-detail-before" ng-show="!showDetail"> + </a>
            <a class="section-member-detail" ng-click="showDetail=!showDetail; GetDetail($event)">
                details
            </a>-->
            <div class="item-collapsible" collapse="!item.isCollapsed">
              <div class="">
                <div class="markdown">{{::item.mdContent}}</div>
              </div>
              <div class="" ng-if="::item.syntax">
                <div class="declaration">
                  <h5>Declaration</h5>
                    <div class="declaration-content sudo-pre" ng-if="::item.syntax.content.CSharp" ng-language="csharp">{{::item.syntax.content.CSharp}}</div>
                    <div class="declaration-content sudo-pre" ng-if="::(!item.syntax.content.CSharp && item.syntax.content.VB)" ng-language="vb">{{::item.syntax.content.VB}}</div>
                </div>
                <div class="parameters" ng-if="::(item.syntax.parameters && item.type == 'Property')" >
                  <h5>Property Value</h5>
                  <table>
                    <tr ng-repeat="par in ::item.syntax.parameters">
                      <td scope="row">
                        <a ng-href="{{::GetLinkHref(par.type.href)}}">{{::par.type.id}}</a>
                      </td>
                      <td>
                        <div class="">
                          <p class="">
                            <div class="markdown">{{::par.description}}</div>
                          </p>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="parameters" ng-if="::(item.syntax.parameters && item.type != 'Property')" >
                  <h5>Parameters</h5>
                  <table>
                    <tr ng-repeat="par in ::item.syntax.parameters">
                      <td scope="row">
                        <a ng-href="{{::GetLinkHref(par.type.href)}}">{{::par.type.id}}</a>
                      </td>
                      <td scope="row">
                        <em class="term">{{::par.id}}</em>
                      </td>
                      <td>
                        <div class="definition">
                          <p class="para">
                              <div class="markdown">{{::par.description}}</div>
                          </p>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="Returns" ng-if="::item.syntax.return">
                  <h5>Returns</h5>
                  <table>
                    <tr>
                      <td scope="row">
                        <a ng-href="{{::GetLinkHref(item.syntax.return.type.href)}}">{{::item.syntax.return.id}}</a>
                      </td>
                      <td>
                        <div class="definition">
                          <p class="para">
                            <div class="markdown">{{::item.syntax.return.description}}</div>
                          </p>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </article>
</div>