<div class="component-breakdown">
        <!--article-content-->
        <article class="article-content">
            <div id="article-header">
                <h1 class="article-name" ng-if="model.name.CSharp">
                    {{model.type}} {{model.name.CSharp}}
                </h1>
                <h1 class="article-name" ng-if="!model.name.CSharp && model.name.VB">
                    {{model.type}} {{model.name.VB}}
                </h1>
                <div ng-if="model.mdHref" class="improve-this-doc btn btn-primary">
                   <a ng-href="{{model.mdHref}}">Improve this Doc</a>
                </div>
                <div class="view-source btn">
                    <a ng-href={{ViewSource()}}> View Source</a>
                </div>
                <section class="article-header-content">
                    <div class="md-section" >
                      <markdown ng-model="model.summary">
                      </markdown>
                      <markdown ng-model="model.mdContent">
                      </markdown>
                    </div>
                </section>
                <section id="metadata_table">
                    <div class="inheritance-table" ng-if="model.inheritance">
                        <p class="para">Inheritance</p>
                        <hr>
                            <div class="inheritance-table-line">
                                <div ng-repeat="inhe in model.inheritance">
    <span wi ng-repeat="i in getNumber($index + 1) track by $index"></span>|--
                                    <a ng-href="{{GetLinkHref(inhe.href)}}">{{inhe.id}}</a>
                                </div>
                                <div class="inheritance-table-last-line">
    <span ng-repeat="i in getNumber(model.inheritance.length + 1) track by $index"></span>|--
                                    <a>{{model.id}}</a>
                                </div>
                            </div>
                    </div>
                </section>
            </div>
            <section id="article-body">
                <div class="section" ng-repeat="itemtype in itemtypes">
                    <h3 class="section-name" ng-show="itemtype.show">{{itemtype.description}}</h3>
                    <ul class="section-members"  ng-repeat="item in model.items" ng-show="item.type==itemtype.name">
                        <li class="section-member" ng-mouseleave="showBtn = false" ng-mouseenter ="showBtn = true" ng-init="showBtn=false">
                            <div class="section-member-header" >
                                <h4 class="section-member-name" ng-if="item.name.CSharp">
                                    {{item.name.CSharp.replace(',', ', ').replace(',', ', ').replace(',', ', ')}}
                                </h4>
                                <h4 class="section-member-name" ng-if="!item.name.CSharp && item.name.VB">
                                    {{item.name.VB.replace(',', ', ').replace(',', ', ').replace(',', ', ')}}
                                </h4>
                                <div class="view-source btn" ng-show="showBtn">
                                    <a ng-href="{{ViewSource(item.source.startLine)}}">View Source</a>
                                </div>
                                <div class="improve-this-doc btn btn-primary" ng-show="showBtn">
                                    <div ng-if="model.mdHref" class="improve-this-doc btn btn-primary">
                                       <a ng-href="{{model.mdHref}}">Improve this Doc</a>
                                    </div>
                                  </div>
                                <div class="md-section">
                                      <markdown ng-model="item.summary">
                                      </markdown>
                                </div>
                            </div>
                            <a class="section-member-detail-before"  ng-init="showDetail=false"  ng-show="showDetail"> - </a>
                            <a class="section-member-detail-before" ng-show="!showDetail"> + </a>
                            <a class="section-member-detail" ng-click="showDetail=!showDetail; GetDetail($event)">
                                details
                            </a>
                            <div class="height-container">
                                <div class="pointy-thing-container"></div>
                                <section>
                                    <div class="pointy-thing"></div>
                                    <div class="section-member-content">

                                        <div class="md-section">
                                          <markdown ng-model="item.mdContent">
                                          </markdown>
                                        </div>
                                        <div class="methodsyntax-section" ng-if="item.syntax">
                                            <div class="declaration">
                                                <h4>Declaration </h4>
                                                <declaration ng-if="item.syntax.content.CSharp" ng-model="item.syntax.content.CSharp" ng-language="csharp">
                                                </declaration>
                                                <declaration ng-if="!item.syntax.content.CSharp && item.syntax.content.VB"  ng-language="vb" ng-model="item.syntax.content.VB">
                                                </declaration>
                                            </div>
                                            <div class="parameters" ng-if="item.syntax.parameters && item.type == 'Property'" >
                                                <h4>Property Value</h4>
                                                <table class="graybox" border="0" cellspacing="0" cellpadding="5">
                                                    <tbody>
                                                        <tr ng-repeat="par in item.syntax.parameters">
                                                            <td scope="row">
                                                                <a ng-href="{{GetLinkHref(par.type.href)}}">{{par.type.id}}</a>
                                                            </td>
                                                            <td>
                                                                <div class="definition">
                                                                    <p class="para">
                                                                      <markdown ng-model="par.description">
                                                                      </markdown>
                                                                    </p>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="parameters" ng-if="item.syntax.parameters && item.type != 'Property'" >
                                                <h4>Parameters</h4>
                                                <table class="graybox" border="0" cellspacing="0" cellpadding="5">
                                                    <tbody>
                                                        <tr ng-repeat="par in item.syntax.parameters">
                                                            <td scope="row">
                                                                <a ng-href="{{GetLinkHref(par.type.href)}}">{{par.type.id}}</a>
                                                            </td>
                                                            <td scope="row">
                                                                <em class="term">{{par.id}}</em>
                                                            </td>
                                                            <td>
                                                                <div class="definition">
                                                                    <p class="para">
                                                                      <markdown ng-model="par.description">
                                                                      </markdown>
                                                                    </p>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="Returns" ng-if="item.syntax.return">
                                                <h4>Returns</h4>
                                                <table class="graybox" border="0" cellspacing="0" cellpadding="5">
                                                    <tbody>
                                                        <tr>
                                                            <td scope="row">
                                                                <a ng-href="{{GetLinkHref(item.syntax.return.type.href)}}">{{item.syntax.return.id}}</a>
                                                            </td>
                                                            <td>
                                                                <div class="definition">
                                                                    <p class="para">
                                                                      <markdown ng-model="item.syntax.return.description">
                                                                      </markdown>
                                                                    </p>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </article>
</div>