<div class="">
  <!--article-content-->
  <article class="">
    <div id="article-header">
      <a ng-if="::model.mdHref" ng-href="{{::model.mdHref}}" class="btn pull-right">
        <span class="glyphicon glyphicon-edit">&nbsp;</span>Improve this Doc
      </a>
      <a class="btn pull-right" ng-href={{::getViewSourceHref()}}>
        <span class="glyphicon glyphicon-eye-open">&nbsp;</span>View Source
      </a>
      <h1>{{::model.type}} {{::model.name}}</h1>
      <section>
        <markdown ng-model="model.summary"></markdown>
      </section>
      <section>
        <markdown ng-model="model.mdContent"></markdown>
      </section>
      <section id="metadata_table" class="inheritance">
        <div class="" ng-if="::model.inheritance">
          <h5>Inheritance</h5>
          <hr>
          <div class="">
            <div ng-repeat="inhe in ::model.inheritance">
              <span ng-repeat="i in ::getNumber($index) track by $index"></span>↳
              <a ng-href="{{::getLinkHref(inhe.href)}}">{{::inhe.id}}</a>
            </div>
            <div class="">
              <span ng-repeat="i in ::getNumber(model.inheritance.length) track by $index"></span>↳
              <a>{{::model.uid}}</a>
            </div>
          </div>
        </div>
      </section>

      <div class="" ng-if="::model.syntax">
        <div class="declaration">
          <h5>Syntax</h5>
            <pre><code class="sudo-pre" ng-model="model.syntax.content"></code></pre>
        </div>
      </div>
    </div>

    <section id="article-body">
      <div class="" ng-repeat="itemtype in ::partialModel.itemtypes">
        <h3 class="" ng-if="::itemtype.show">{{::itemtype.description}}</h3>
        <div class=""  ng-repeat="item in ::model.items" ng-if="::(item.type == itemtype.name)">
          <div class="item-section">
            <div class="item-header">
              <div class="pull-right">
                <a ng-href="{{::getViewSourceHref(item.source.startLine)}}">View Source</a>
                <span ng-if="model.mdHref">
                  <span class="divider-brand">|</span>
                  <a ng-href="{{model.mdHref}}">Improve this Doc</a>
                </span>
              </div>
              <a class="item-toggle" ng-init="item.showDetail = false" ng-click="item.showDetail = !item.showDetail">
                <div class="item-title">
                  {{item.name}}
                </div>
              </a>
            </div>
            <div class="item-summary">
              <markdown ng-model="item.summary"></markdown>
            </div>
            <div class="item-collapsible" ng-show="item.showDetail">
              <markdown ng-model="item.mdContent"></markdown>
              <div class="" ng-if="::item.syntax">
                <div class="declaration">
                  <h5>Declaration</h5>
                    <pre><code class="sudo-pre" ng-model="item.syntax.content"></code></pre>
                </div>
                <div class="parameters" ng-if="::(item.syntax.parameters && item.type == 'Property')" >
                  <h5>Property Value</h5>
                  <table>
                    <tr ng-repeat="par in ::item.syntax.parameters">
                      <td scope="row">
                        <a ng-href="{{::getLinkHref(par.type.href)}}">{{::par.type.id}}</a>
                      </td>
                      <td>
                        <div class="">
                          <p class="">
                            <markdown ng-model="par.description"></markdown>
                          </p>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="parameters" ng-if="::(item.syntax.parameters && item.type != 'Property')" >
                  <h5>Parameters</h5>
                  <table>
                    <tr ng-repeat="par in ::item.syntax.parameters">
                      <td scope="row">
                        <a ng-href="{{::getLinkHref(par.type.href)}}">{{::par.type.id}}</a>
                      </td>
                      <td scope="row">
                        <em class="term">{{::par.id}}</em>
                      </td>
                      <td>
                        <div class="definition">
                          <p class="para">
                              <markdown ng-model="par.description"></markdown>
                          </p>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="Returns" ng-if="::item.syntax.return">
                  <h5>Returns</h5>
                  <table>
                    <tr>
                      <td scope="row">
                        <a ng-href="{{::getLinkHref(item.syntax.return.type.href)}}">{{::item.syntax.return.id}}</a>
                      </td>
                      <td>
                        <div class="definition">
                          <p class="para">
                              <markdown ng-model="item.syntax.return.description"></markdown>
                          </p>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </article>
</div>