<div class="component-breakdown">
        <!--article-content-->
        <article class="article-content">
            <div id="article-header">
                <h1 class="article-name">
                    {{model.type}} {{model.name.CSharp}}
                </h1>
                <div ng-if="model.mdHref" class="improve-this-doc btn btn-primary">
                   <a ng-href="{{model.mdHref}}">Improve this Doc</a>
                </div>
                <div class="view-source btn">
                    <a href="{{ViewSource()}}">View Source</a>
                </div>
                <section class="article-header-content">
                    <div class="md-section" >
                      <markdown ng-model="model.summary">
                      </markdown>
                      <markdown ng-model="model.mdContent">
                      </markdown>
                    </div>
                </section>
            </div>
            <section id="article-body">
                <div class="section" ng-repeat="itemtype in itemtypes" >
                  <h3 class="section-name" ng-if="itemtype.show">{{itemtype.description}}</h3>
                  <table ng-if="itemtype.show">
                      <tr ng-repeat="item in model.items" ng-show="item.type==itemtype.name">
                          <td>
                              <a href="{{GetLinkHref(item.href)}}">
                                  {{item.id.replace(model.id + '.', '')}}
                              </a>
                          </td>
                          <td>
                              <div class="md-section">
                                <markdown ng-model="item.summary">
                                  </markdown>
                              </div>
                          </td>
                      </tr>
                </table>
                </div>
            </section>
        </article>
</div>