<ul class="nav navbar-nav">
  <li class="divider-vertical"></li>
  <li ng-repeat="navGroup in model track by navGroup.id" ng-if="model">
    <a ng-href="{{GetNavHref(navGroup.href)}}" ng-class="navClass(navGroup)" class="icon-book icon-white ">{{ navGroup.id }}</a>
  </li>
  <li class="divider-vertical"></li>
</ul>