<div class="navbar-header">
	<button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="#"><img src="logo.png" alt="your logo" height="30px"></img></a>
</div>
<div class="navbar-collapse" collapse="!isCollapsed">
		<ul class="nav navbar-nav">
	  	<li ng-repeat="navGroup in model track by $index" ng-if="model" ng-class="navClass(navGroup)">
	    	<a ng-href="{{getNavHref(navGroup.href)}}" class="">{{ navGroup.name }}</a>
	  	</li>
		</ul>
</div>