<!DOCTYPE html>
<html lang="en" ng-app="docsApp" ng-strict-di ng-controller="DocsController">
<!--
   This is docascode v0.0.0
-->
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="Description"
        content="Docascode with pure client-side JavaScript!">
  <meta name="fragment" content="!">
  <title ng-bind-template="Docascode: {{ currentArea.name }}: {{ title || currentPage || 'Generating Documentations For You'}}">Docascode</title>
  <link rel="icon" type="image/x-icon" href="favicon.ico" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" type="text/css"></link>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.2/custom/bootstrap.min.css" type="text/css"></link>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/languages/cs.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ace/1.1.8/ace.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/js-yaml/3.2.7/js-yaml.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lunr.js/0.5.7/lunr.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-resource.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-route.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-cookies.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-sanitize.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-touch.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-animate.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
<link rel="stylesheet" href="css/docascode.css" type="text/css"></link>
<script type="text/javascript" src="js/docascode.js"></script>

</head>
<body>
  <div id="console">
    <div id="player"></div>
      <button id="run" class="btn btn-primary">Run</button>
      <button id="close" class="btn btn-danger">Close</button>
    </div>
  </div>
  <div id="wrapper">
    <header scroll-y-offset-element class="header header-fixed">
      <section class="navbar navbar-inverse docs-navbar-primary">
        <div class="container">
          <div class="row">
            <div class="col-md-9 header-branding">
              <div ng-repeat="model in [navbar]"  ng-include="'template/navbar.tmpl'"></div>
            </div>
            <!-- comment out search box as it is not currently supported
            <form ng-class="{focus:focus}" class="navbar-search col-md-3 docs-search" ng-submit="submit()">
              <span class="glyphicon glyphicon-search search-icon"></span>
              <input type="text"
                     name="as_q"
                     class="search-query"
                     placeholder="Click or press / to search"
                     ng-focus="focus=true"
                     ng-blur="focus=false"
                     ng-change="search(q)"
                     ng-model="q"
                     docs-search-input
                     autocomplete="off" />
            </form> -->
          </div>
        </div>
        <div class="search-results-container" ng-show="hasResults">
          <div class="container">
            <div class="search-results-frame">
              <div ng-repeat="(key, value) in results" class="search-results-group" ng-class="colClassName + ' col-group-' + key">
                <h4 class="search-results-group-heading">{{ key }}</h4>
                <div class="search-results">
                  <div ng-repeat="item in value" class="search-result">
                    - <a ng-click="hideResults()" ng-href="#{{ item.path }}">{{ item.name }}</a>
                  </div>
                </div>
              </div>
            </div>
            <a href="" ng-click="hideResults()" class="search-close">
              <span class="glyphicon glyphicon-remove search-close-icon"></span> Close
            </a>
          </div>
        </div>
      </section>
      <!-- Temp disable it: what to show for conceptual?
      <section class="sup-header">
        <div class="container main-grid main-header-grid">
          <div class="grid-left">
            <div ng-controller="DocsVersionsCtrl" class="picker version-picker">
              <select ng-options="v as ('v' + v.version + (v.isSnapshot ? ' (snapshot)' : '')) group by getGroupName(v) for v in docs_versions"
                      ng-model="docs_version"
                      ng-change="jumpToDocsVersion(docs_version)"
                      class="docs-version-jump">
              </select>
            </div>
          </div>
          <div class="grid-right">
            <ul class="nav-breadcrumb">
              <li ng-repeat="crumb in breadcrumb" class="nav-breadcrumb-entry naked-list">
                <span class="divider"> /</span>
                <a ng-href="#{{crumb.url}}">{{crumb.name}}</a>
              </li>
            </ul>
          </div>
        </div>
      </section>-->
    </header>

    <section role="main" class="container main-body">
      <div class="main-grid main-body-grid">
        <div class="grid-left" ng-if="toc">
          <div class="side-navigation">
            <div id="tocLoading" ng-show="tocLoading">Loading...</div>
            <div ng-hide="tocLoading" ng-if="toc" ng-repeat="model in [toc.content]" ng-include="'template/toc.tmpl'"></div>
          </div>
        </div>
        <div ng-class="gridClass(toc)">
          <div id="loading" ng-show="loading">Loading...</div>
          <div markdown ng-if="contentType === 'md'" ng-hide="loading" ng-repeat="model in [partialModel]" ng-include="partialPath" autoscroll></div>
          <div ng-if="contentType !== 'md'" ng-hide="loading" ng-repeat="model in [partialModel]" ng-include="partialPath" autoscroll></div>
        </div>
      </div>
    </section>

    <!--
    comment out footer as it is currently having display issue
    <footer class="footer">
      <div class="container">
        <p class="pull-right"><a back-to-top>Back to top</a></p>

        <p>
          Super-powered by Microsoft Visual Studio China  ©2014-2015
          Code licensed under the MIT License
        </p>
      </div>
    </footer> -->
  </div>
</body>
</html>
