<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".yaml" mimeType="text/yaml" />
            <mimeMap fileExtension=".yml" mimeType="text/yaml" />
            <mimeMap fileExtension=".md" mimeType="text/x-markdown" />
            <mimeMap fileExtension=".tmpl" mimeType="text/template" />
        </staticContent>
    </system.webServer>
</configuration>
